$baseBackground: #333333;
$baseGreen: #47c416;
$baseGreen--dark: #225c0b;
$errorRed: #be3e3e;
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.btn {
  font-weight: bolder;
  border: none;
  padding: 10px;
  margin-left: 5px;
  text-decoration: none;
  &--orange {
    background-color: rgb(173, 113, 1);

    border-color: orange;
    color: white;
    transition: all ease-in 0.2s;
    &:hover {
      color: black;
      cursor: pointer;
      background-color: orange;
    }
  }
  &--round {
    border-radius: 20px;
  }
}

.text {
  &--orange {
    color: orange;
  }
  &--white {
    color: white;
  }
  &--center {
    text-align: center;
  }
}
.m {
  &--1 {
    margin: 3px;
  }

  &--0 {
    margin: 0;
  }

  &--center {
    margin: 0 auto;
  }
  &--mt3 {
    margin-top: 10rem;
  }
}

.d {
  &--flex {
    display: flex;
  }

  &--block {
    display: block;
  }
}

.w {
  &--content {
    width: fit-content;
  }
}
.border {
  &--valid {
    border-color: $baseGreen !important;
  }
  &--error {
    border-color: $errorRed !important;
  }
}

.flex {
  &--row {
    flex-direction: row;
  }
  &--wrap {
    flex-wrap: wrap;
  }
  &--row {
    flex-direction: row;
  }

  &--center {
    justify-content: center;
    align-items: center;
  }

  &--between {
    justify-content: space-between;
  }
  &--col {
    flex-direction: column;
  }
}

.sizes {
  &--big {
    width: 100%;
    height: 100%;
  }
}

.cinemaItem {
  display: flex;
  margin: 1rem;
  border: solid 3px orange;
  img {
    margin: 1px;
    width: 200px;
    height: 200px;
  }

  table {
    * {
      color: orange;
    }
  }
}

.inputGroup {
  input {
    border: none;
    font-size: 1.2em;
    background-color: black;
    width: 100%;
    border-bottom: solid 1px orange;
    color: orange;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
      color: orange;
    }
    &:focus {
      box-shadow: none;
      outline: none;
      transition: 0.2s ease-in-out;
      color: orange;
    }
    &::placeholder {
      color: orange;
    }
  }
}

.border {
  &--valid {
    border-color: $baseGreen !important;
  }
  &--error {
    border-color: $errorRed !important;
  }
}
.button {
  border: solid 3px;
  width: fit-content;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: large;
  filter: alpha(opacity=100);
  &:hover {
    cursor: pointer;
    border-color: transparent;
  }
  &--accept {
    border-color: $baseGreen;
    background-color: $baseGreen;
    opacity: 1;
    color: white;
    &:hover {
      background-color: $baseGreen--dark;
    }
  }
}

.screen {
  height: 3px;
  border: solid 3px orange;
  width: 90vw;
  margin: 0 auto;
  background-color: orange;
}
